.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 25px;
  z-index: 3;
  @include ease-in-out;
  border-bottom: 1px solid $tr;

  & > .container {
    position: relative;
    @include ease-in-out;
    z-index: 1;
  }

  &__burger {
    color: $white;
    display: flex;
    align-items: center;
    @include hoverOpacity;
    padding-left: 0;
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    display: block;
    @include hoverOpacity;
    @include ease-in-out;

    @include r(576) {
      top: 0;
    }

    &-icon {
      max-width: 175px;
      height: auto;
      fill: $white;
      @include ease;

      @include r(1200) {
        max-width: 140px;
      }

      @include r(576) {
        max-width: 90px;
      }
    }
  }

  &__link {
    color: $white !important;
    @include hoverOpacity;
  }

  &__language {
    &-wrapper {
      position: relative;

      &:hover {
        .header__language-list {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    &-icon {
      stroke: $white;
      stroke-width: 2;
      transform: translateY(1px);

      @include r(576) {
        transform: translateY(0);
      }
    }

    &-list {
      position: absolute;
      right: 0;
      text-align: right;
      padding-top: 5px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4px);
      @include ease-in-out;
    }
  }

  &--active {
    color: $dark;

    .header {
      &__logo-icon {
        fill: $dark;
      }

      &__burger {
        color: $dark;
      }

      &__nav {
        .header__link {
          color: $dark !important;
        }

        & > .header__link {
          opacity: 0;
          visibility: hidden;
        }

        .header__language-icon {
          stroke: $dark;
        }
      }
    }

    .burger {
      &__line {
        background: $dark;
      }
    }

    .menu {
      transform: translateY(0);
    }
  }


}

.sticky-header {
  .header {
    color: $white;
    background-color: $dark;
    border-bottom-color: #2d2f2f;

    & > .container {
      transform: translateY(-13px);
    }

    &__logo {
      top: -20px;
      transform: translateX(-50%) scale(0.5);

      @include r(1200) {
        top: -12px;
      }

      @include r(576) {
        top: -10px;
        transform: translateX(-50%) scale(0.7);
      }
    }
  }
}


//.menu-open {
//  .header__logo {
//    top: 10px;
//    transform: translateX(-50%);
//
//    @include r(576) {
//      transform: translateX(-50%);
//    }
//  }
//}
