.menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: $dark;
  background-color: $white;
  transform: translateY(calc(-100% - 40px));
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  @include ease-in-out;

  &__in {
    position: relative;
    padding: 180px 0 50px;

    @include r(1200) {
      padding: 140px 0 30px;
    }

    @include r(768) {
      padding: 120px 0 30px;
    }

    @include r(576) {
      padding: 100px 0 40px;
    }
  }

  &__link {
    @include hoverOpacity;

    &:not(:last-child) {
      margin-bottom: 16px;

      @include r(1200) {
        margin-bottom: 12px;
      }

      @include r(768) {
        margin-bottom: 6px;
      }
    }

    &-chevron {
      stroke: $dark;
      transform: rotate(90deg);
      display: none;

      @include ease-in-out;

      &--active {
        transform: rotate(90deg) scaleX(-1);
      }
    }

    &-wrapper {
      @include r(768) {
        .menu__link,
        .menu__link-chevron {
          display: inline-block;
        }
      }
    }
  }
  
  &__dropdown {
    @include r(768) {
      display: none;
    }
  }
}