$font-mExtraLight: 'Montserrat-ExtraLight';
$font-mItalic: 'Montserrat-Italic';
$font-mBold: 'Montserrat-Bold';
$font-mLight: 'Montserrat-Light';
$font-mBlack: 'Montserrat-Black';
$font-mExtraBold: 'Montserrat-ExtraBold';
$font-mRegular: 'Montserrat-Regular';
$font-mSemiBold: 'Montserrat-SemiBold';
$font-mThin: 'Montserrat-Thin';
$font-mMedium: 'Montserrat-Medium';
$font-tSans: 'TenorSans';

.font-mBold {
  font-family: $font-mBold;
}

.font-mRegular {
  font-family: $font-mRegular;
}

.font-mLight {
  font-family: $font-mLight;
}

.font-sBold {
  font-family: $font-mSemiBold;
}

.font-tSans {
  font-family: $font-tSans;
}

$font-small: 0.72rem;
$font-xsmall: 0.64rem;
$font-xregular: 0.88rem;
$font-medium: 1.08rem;

.font-small {
  font-size: $font-small;
}

.font-xsmall {
  font-size: $font-xsmall;
}

.font-xregular {
  font-size: $font-xregular;
}

.font-medium {
  font-size: $font-medium;
}


.lh-16 {
  line-height: 1.6;
}