input,
textarea,
select {
  color: $dark;
  font-size: 0.9rem;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid #7B7B7B;
  background: $tr;
  @include ease;
  outline: none;

  @include r(768) {
    padding: 0 0 5px;
  }
}
option {
  color: $dark;
}
textarea {
  resize: none !important;
  overflow: hidden;
  &::placeholder {
    color: $dark;
  }
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: $dark;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  color: $dark;
  border-color: $dark;

  &::placeholder {
    color: $tr;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input,
.textarea {
  font-family: $font-mRegular;
  font-size: $font-small;
  border: none;
  padding: 28px 30px;
  width: 100%;

  @include r(1200) {
    padding: 15px 25px;
  }

  @include r(768) {
    padding: 10px 16px;
  }

  &--white {
    background-color: $white;

    &::placeholder {
      color: $darkGray !important;
    }
  }
}