.about {
  &-career {
    @include r(1200) {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  &__quote {
    margin-bottom: 50px;

    @include r(1200) {
      margin-bottom: 30px;
    }

    @include r(768) {
      margin-bottom: 20px;
    }

    &-decoration {
      width: 120px;
      height: 1px;
      background-color: $dark;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-slide {
    @include cv;
    min-height: 670px;

    @include r(1572) {
      min-height: 420px;
    }

    @include r(1200) {
      min-height: 360px;
    }

    @include r(768) {
      min-height: 180px;
    }
  }

  &-slider {
    overflow: visible;
    &__bottom {
      position: relative;
    }

    &__navigation {
      position: absolute;
      display: flex;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &__pattern {
      @include pattern;

      bottom: -100px;
      left: -100px;
      z-index: 1;
    }
  }
}



