.offer {
  position: relative;
  color: $white;
  background-color: $dark;
  background-image: url('../img/offer-bg.jpg');
  @include cv;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 600px;
  padding-bottom: 40px;

  &--main {
    height: 100vh;
    padding-bottom: 90px;

    @include r(1572) {
      padding-bottom: 60px;
    }

    @include r(1200) {
      padding-bottom: 40px;
    }

    .offer__scrolldown {
      margin-bottom: 0;
    }
  }

  &__in {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-top: 80px;
  }

  &__content {
    position: relative;

    & > * {
      position: relative;
    }

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      background: rgba(0, 0, 0, 0.45);
      filter: blur(45px);
      transform: translate(-50%, -50%);

      @include r(768) {
        background: rgba(0, 0, 0, 0.70);
      }
    }
  }

  &__form {

    &-control {
      text-align: center;
      max-width: 240px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include r(1200) {
        max-width: 170px;
      }

      @include r(576) {
        width: 50%;
      }
    }

    &-promo {
      font-size: $font-xsmall;
      text-transform: uppercase;
      text-align: center;
      color: $white !important;
      border-color: $white !important;
      min-width: 220px;

      @include r(1572) {
        min-width: 200px;
      }

      @include r(768) {
        min-width: 160px;
      }

      @include r(576) {
        min-width: 125px;
      }

      &::placeholder {
        color: $white !important;
      }
    }

    .datepicker {
      text-align: center;
      color: $white !important;
      border-color: $white !important;
      padding: 12px 0;
      border-bottom: none !important;
      max-width: 100%;

      &::placeholder {
        color: $white !important;
      }

      &__wrapper {
        position: relative;
        max-width: 100%;

        svg {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          stroke: $white;
          stroke-width: 2;
        }
      }
    }
  }

  &__bottom {
    position: relative;
  }

  &__scrolldown {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    @include ease;
    @include hoverOpacity;
    margin-bottom: 25px;

    @include r(768) {
      max-width: 30px;
    }

    &:hover {
      bottom: -3px
    }

    svg {
      stroke: $white;
      stroke-width: 2;
      max-width: 100%;
    }
  }

  &__hr {
    height: 2px;
    opacity: 1;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;

    @include r(1200) {
      max-width: 60%;
    }
  }
}

.directions {

  &__pattern {
    @include pattern;

    top: -100px;
    right: -100px;

    @include r(768) {
      top: -30px;
      right: -30px;
    }
  }

  &__item {
    min-height: 600px;
    height: 80vh;

    padding: 30px 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @include cv;

    @include r(1200) {
      padding: 30px 50px;
      height: auto;
      min-height: 300px;
    }

    @include r(768) {
      padding: 30px 20px;
      height: auto;
      min-height: 200px;
    }

    .button {
      margin-top: 70px;

      @include r(1572) {
        margin-top: 50px;
      }

      @include r(1200) {
        margin-top: 30px;
      }

      @include r(768) {
        margin-top: 15px  ;
      }
    }
  }
}

.about {
  &__pattern {
    @include pattern;

    top: -100px;
    left: -100px;

    @include r(768) {
      top: -30px;
      left: -30px;
    }
  }

  &__link {
    @include hoverOpacity;
    &:not(:last-child) {
      margin-right: 25px;

      @include r(768) {
        margin-right: 10px;
      }
    }
  }

  &__rating {
    width: 35px;
    height: 35px;
    fill: $dark;
    @include ease;
    @include hoverOpacity;

    &:not(:last-child) {
      margin-right: 6px;
    }

    @include r(1200) {
      width: 20px;
      height: 20px;
    }

    @include r(768) {
      width: 14px;
      height: 14px;
    }
  }
}

.services {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: repeat(2, 390px);
    grid-gap: 50px;

    @include r(1572) {
      grid-template-rows: repeat(2, 340px);
      grid-gap: 30px;
    }

    @include r(1200) {
      grid-gap: 15px;
    }

    @include r(768) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3,180px);
    }
  }

  &__item {
    color: $white !important;
    padding: 50px 50px 80px 80px;
    @include cv;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:hover {
      .services__item-title,
      .services__item-text {
        transform: translateY(-10px);
      }
    }

    @include r(1572) {
      padding: 30px 30px 50px 50px;
    }

    @include r(1200) {
      padding: 20px 30px;
    }

    @include r(768) {
      padding: 15px 20px;
    }

    &-title {
      font-family: $font-tSans;
      margin-bottom: 15px;
      @include ease;

      @include r(768) {
        margin-bottom: 10px;
      }
    }

    &-text {
      font-size: $font-small;
      @include ease;
    }


    @include rmin(768) {
      &:nth-child(1) {
        grid-row: 1/3;
      }
    }
  }
}

.quote {
  &__pattern {
    @include pattern;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $dark;
    opacity: .05;
  }

  .container {
    position: relative;
  }

  &__text {
    position: relative;
    color: $white;

    @include r(768) {
      line-height: 1.4;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 160px;
      height: 2px;
      background-color: $white;

      @include r(1200) {
        width: 100px;
      }

      @include r(768) {
        width: 50px;
        height: 1px;
      }
    }

    &::before {
      top: 50px;
      right: calc(100% + 50px);

      @include r(1200) {
        top: -30px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }

      @include r(768) {
        top: -10px;
      }
    }

    &::after {
      bottom: 0;
      right: 0;

      @include r(1200) {
        bottom: -30px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }

      @include r(768) {
        bottom: -10px;
      }
    }
  }
}

.tenders {

  &__item {
    padding: 85px 64px;
    min-height: 750px;
    color: $white;
    text-align: center;
    @include cv;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


    @include r(1572) {
      min-height: 600px;
    }

    @include r(1200) {
      padding: 30px 40px;
      min-height: 400px;
    }

    @include r(768) {
      padding: 25px 35px;
      min-height: 240px;
    }

    @include r(576) {
      min-height: 180px;
    }
  }
}

.rest {
  overflow: hidden;
  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    align-items: flex-start;

    @include r(1572) {
      grid-gap: 30px;
    }
  }

  &-slider {
    overflow: visible;
    &__wrapper {
      position: relative;
    }

    &__item {
      &-info {
        padding-right: 100px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        @include cubic-long;

        @include r(768) {
          padding-right: 90px;
        }
      }

      &-picture {
        @include cv;
        min-height: 488px;

        @include r(1572) {
          min-height: 420px;
        }

        @include r(1200) {
          min-height: 360px;
        }

        @include r(768) {
          min-height: 180px;
        }
      }

      &-text {
        max-width: 781px;
      }
    }

    &__navigation {
      position: absolute;
      display: flex;
      top: calc(488px + 40px);
      right: 0;
      z-index: 2;

      @include r(1572) {
        top: calc(420px + 40px);
      }

      @include r(1200) {
        top: calc(360px + 30px);
      }

      @include r(768) {
        top: calc(180px + 10px);
      }

      &-button {
        &.swiper-button-prev {
          background-color: $gray;
          margin-right: 15px;

          @include r(768) {
            margin-right: 8px;
          }
        }
        &.swiper-button-next {
          background-color: $gray;
          //right: 30px;
        }
      }
    }
  }

  .swiper-slide-active .rest-slider__item-info {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.spa {
  &__pattern {
    @include pattern;

    bottom: -20px;
    left: -100px;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-gap: 50px;
    align-items: center;

    @include r(1572) {
      grid-gap: 30px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-gap: 50px;

    @include r(1572) {
      grid-gap: 30px;
    }
  }

  &__item {
    min-height: 750px;
    @include cv;

    @include r(1572) {
      min-height: 600px;
    }
    @include r(1200) {
      min-height: 400px;
    }
  }
}
.events {
  .marquee {
    position: relative;
    white-space: nowrap;

    &__in {
      height: 91px;

      @include r(1200) {
        height: 81px;
      }

      @include r(768) {
        height: 71px;
      }

      @include r(576) {
        height: 41px;
      }
    }

    &__text {
      position: absolute;
      top: 0;
      left: 100%;

    }
  }
  &__grid {
  }

  &__item {
    padding: 30px 40px;
    color: $white !important;
    min-height: 500px;
    display: flex;
    align-items: flex-end;
    @include cv;

    &:hover {
      .events__item-title {
        transform: translateY(-4px);
      }
    }

    &-title {
      display: block;
      @include ease;
    }

    @include r(1572) {
      min-height: 420px;
      padding: 20px;
    }

    @include r(1200) {
      min-height: 180px;
    }
  }

}