.unknown {
  display: flex;
  flex-direction: column;
  height: 90vh;

  &__body {
    flex-grow: 1;
  }


  .offer {
    min-height: auto;
    height: 100%;
  }

  .footer__bottom {
    display: none;
  }
  .footer__form-wrapper {
    display: none;
  }
}