<section class="section--wide pb-0">
    <div class="section--padding background-gray">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 offset-xl-1">
                    <div class="section__title section__title--h1 mb-2 mb-md-3 mb-xl-4">Оставить заявку</div>
                    <form class="contacts__form">
                        <div class="font-xregular font-mRegular lh-16 mb-2 mb-md-2 mb-xl-3">Если у Вас остались вопросы, заполните форму и мы свяжемся с вами</div>
                        <input class="input input--white mb-2 mb-md-3" type="text" placeholder="Имя и фамилия *" required>
                        <input class="input input--white mb-2 mb-md-3" type="tel" placeholder="Телефон *" required>
                        <input class="input input--white mb-2 mb-md-3" type="email" placeholder="E-mail">
                        <textarea class="textarea textarea--white mb-2 mb-md-3" rows="2" placeholder="Комментарий"></textarea>
                        <button class="button mb-2 mb-md-3">Отправить заявку</button>
                        <div class="contacts__form-policy color-darkGray font-small font-mRegular">
                            Нажимая на кнопку вы соглашаетесь с условиями <a href="#" class="und color-darkGray">Политики конфиденциальности</a>
                        </div>
                    </form>
                </div>
                <div class="col-xl-5 offset-xl-1 mt-4 mt-xl-0 image--small__wrapper image--small__wrapper--right">
                    <div class="image image--small" style="background-image: url('{{root}}assets/img/contacts-form-picture.jpg');"></div>
                </div>
            </div>
        </div>
    </div>
</section>