<footer class="footer font-small">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 mb-3 mb-xl-0">
                    <a class="footer__logo" href="#">
                        <svg class="footer__logo-icon" width="371" height="143">
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-4">
                    <div class="footer__col">
                        <a class="footer__link font-mRegular mb-1 mb-md-2" href="#">Об отеле</a>
                        <a class="footer__link font-mRegular mb-1 mb-md-2" href="#">Политика конфиденциальности</a>
                        <a class="footer__link font-mRegular mb-1 mb-md-2" href="#">Бронирования</a>
                        <a class="footer__link font-mRegular" href="#">Карта сайта</a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                    <div class="footer__col">
                        <a class="footer__link font-mRegular mb-1 mb-md-2" href="#">Номера</a>
                        <a class="footer__link font-mRegular mb-1 mb-md-2" href="#">Ресторан</a>
                        <a class="footer__link font-mRegular mb-1 mb-md-2" href="#">Фитнес со SPA-зонами</a>
                        <a class="footer__link font-mRegular" href="#">Услуги</a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                    <div class="footer__col">
                        <a class="footer__link font-mRegular mb-1 mb-md-2" href="#">Мероприятия</a>
                        <a class="footer__link font-mRegular mb-1 mb-md-2" href="#">Контакты</a>
                        <a class="footer__link font-mRegular mb-1 mb-md-2" href="#">Карьера</a>
                        <a class="footer__link font-mRegular" href="#">Новости</a>
                    </div>
                </div>
                <div class="col-xl-3 mt-4 mt-xl-0">
                    <div class="footer__col">
                        <div class=" mb-2 mb-md-3">Подписаться на новости</div>
                        <form class="footer__form mb-3 mb-md-4">
                            <input type="email" placeholder="E-mail">
                            <button class="button" type="submit">OK</button>
                        </form>

                        <div class="mb-1 font-xsmall">ООО «Фарфор»</div>
                        <div class="mb-1 font-xsmall">ИНН 6670503240</div>
                        <div class="mb-1 font-xsmall">КПП 667001001</div>
                        <div class="font-xsmall">Юр. адрес: 620078, Свердловская область,
                            г.&nbsp;Екатеринбург, ул.&nbsp;Мира, стр&nbsp;39, ком&nbsp;22</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom font-small">
        <div class="container">
            <div class="footer__copyrights">© Не является публичной офертой. все права защищены. 2021</div>
            <div class="footer__social">
                <a class="social-link" href="#">
                    <svg width="25" height="25">
                        <use xlink:href="#in"></use>
                    </svg>
                </a>
                <a class="social-link" href="#">
                    <svg width="12" height="25">
                        <use xlink:href="#fb"></use>
                    </svg>
                </a>
                <a class="social-link" href="#">
                    <svg width="27" height="18">
                        <use xlink:href="#yu"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>