<div class="menu">
    <div class="container">
        <div class="menu__in">
            <div class="mb-3 d-sm-none">
                <button class="menu__language menu__language--active">RU</button>
                <button class="menu__language">EN</button>
            </div>
            <div class="row mb-4 mb-sm-3 mb-md-5">
                <div class="col-md-3 col-sm-6 mb-2 mb-md-0">
                    <div class="menu__dropdown-wrapper menu__dropdown-wrapper--bt">
                        <div class="menu__link-wrapper">
                            <a class="menu__link section__title section__title--h4" href="#">Об отеле</a>
                            <button class="menu__link-button js-toggle-menu-dropdown">
                                <span class="menu__link-button-in"></span>
                            </button>
                        </div>
                        <div class="menu__dropdown mt-2 mt-sm-3 mt-md-4">
                            <div class="d-flex flex-column align-items-start">
                                <a class="menu__link font-small font-mRegular" href="#">Спецпредложения</a>
                                <a class="menu__link font-small font-mRegular" href="#">Фотогалерея</a>
                                <a class="menu__link font-small font-mRegular" href="#">Отзывы</a>
                                <a class="menu__link font-small font-mRegular" href="#">Карьера</a>
                                <a class="menu__link font-small font-mRegular" href="#">Новости</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-2 mb-md-0">
                    <div class="menu__dropdown-wrapper">
                        <div class="menu__link-wrapper">
                            <a class="menu__link section__title section__title--h4" href="#">Номера</a>
                            <button class="menu__link-button js-toggle-menu-dropdown">
                                <span class="menu__link-button-in"></span>
                            </button>
                        </div>
                        <div class="menu__dropdown mt-2 mt-sm-3 mt-md-4">
                            <div class="d-flex flex-column align-items-start">
                                <a class="menu__link font-small font-mRegular" href="#">Suite</a>
                                <a class="menu__link font-small font-mRegular" href="#">De Luxe</a>
                                <a class="menu__link font-small font-mRegular" href="#">Duplex</a>
                                <a class="menu__link font-small font-mRegular" href="#">Family Room</a>
                                <a class="menu__link font-small font-mRegular" href="#">Новости</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-2 mb-md-0">
                    <div class="menu__dropdown-wrapper">
                        <div class="menu__link-wrapper">
                            <a class="menu__link section__title section__title--h4" href="#">Отель</a>
                            <button class="menu__link-button js-toggle-menu-dropdown">
                                <span class="menu__link-button-in"></span>
                            </button>
                        </div>
                        <div class="menu__dropdown mt-2 mt-sm-3 mt-md-4">
                            <div class="d-flex flex-column align-items-start">
                                <a class="menu__link font-small font-mRegular" href="#">Бронированиe</a>
                                <a class="menu__link font-small font-mRegular" href="#">Услуги</a>
                                <a class="menu__link font-small font-mRegular" href="#">Ресторан</a>
                                <a class="menu__link font-small font-mRegular" href="#">Фитнес со SPA-зонами</a>
                                <a class="menu__link font-small font-mRegular" href="#">Мероприятия</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-2 mb-md-0">
                    <div class="menu__dropdown-wrapper">
                        <div class="menu__link-wrapper">
                            <a class="menu__link section__title section__title--h4" href="#">Контакты</a>
                            <button class="menu__link-button js-toggle-menu-dropdown">
                                <span class="menu__link-button-in"></span>
                            </button>
                        </div>
                        <div class="menu__dropdown mt-2 mt-sm-3 mt-md-4">
                            <div class="d-flex flex-column align-items-start">
                                <a class="menu__link font-small font-mRegular" href="#">Политика конфиденциальности</a>
                                <a class="menu__link font-small font-mRegular" href="#">Карта сайта</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-md-end align-items-center">
                <div class="font-small font-mRegular mr-3">Следите за нами:</div>
                <div class="d-flex align-items-center">
                    <a class="social-link" href="#">
                        <svg width="25" height="25">
                            <use xlink:href="#in"></use>
                        </svg>
                    </a>
                    <a class="social-link" href="#">
                        <svg width="12" height="25">
                            <use xlink:href="#fb"></use>
                        </svg>
                    </a>
                    <a class="social-link" href="#">
                        <svg width="27" height="15">
                            <use xlink:href="#yu"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>