<div class="pagination">
    <ul class="pagination">
        <li class="control control_prev">
            <span class="control__item">
            <svg width="9" height="21">
                <use xlink:href="#chevron-left"></use>
            </svg>
            </span>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li>...</li>
        <li class="page-item">
        <a class="page-link" href="#">12</a></li>
        <li class="control control_next">
            <a href="#" class="control__item">
                <svg width="9" height="21">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>