<section class="quote section--padding background-blueGray with-pattern">
    <svg class="quote__pattern">
        <use xlink:href="#pattern"></use>
    </svg>
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="quote__text section__title section__title--h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
    </div>
</section>