<div class="review">
    <div class="review-picture">М</div>
    <div class="review-info">
        <div class="review-info__title mb-2">Марина Петрова</div>
        <div class="d-flex align-items-start align-items-end mb-2 mb-md-3">
            <div class="d-flex align-items-center mr-2 mr-md-3">
                <svg class="review-info__rating">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="review-info__rating">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="review-info__rating">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="review-info__rating">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="review-info__rating">
                    <use xlink:href="#star-outlined"></use>
                </svg>
            </div>
            <div class="font-small font-mRegular">25.03.21</div>
        </div>
        <div class="font-small font-mRegular lh-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis urna integer interdum tortor condimentum mi commodo eget. Eleifend et cras enim dignissim dolor vel non non ultricies. Tempor id nulla id dignissim mollis euismod eget ut. Eu cras tincidunt morbi dignissim feugiat ligula facilisi dolor. Duis varius vulputate molestie aliquet. Faucibus ornare etiam nisi, orci semper. </div>
    </div>
</div>