<section class="tenders section--padding">
    <div class="container">
        <div class="section__title section__title--h1 tac mb-3 mb-md-4 mb-xl-5">Специальные предложения</div>
        <div class="row">
            <div class="col-md-5 mb-3 mb-md-0">
                <div class="tenders__item" style="background-image: url('{{root}}assets/img/tender-1.jpg');">
                    <div class="tender__title section__title section__title--h3 mb-3 mb-md-4">Кешбек 20% по карте “Мир”</div>
                    <a class="button button--white" href="#">Подробнее</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="tenders__item" style="background-image: url('{{root}}assets/img/tender-2.jpg');">
                    <div class="tender__title section__title section__title--h3 mb-3 mb-md-4">Тариф “Длительное проживание”</div>
                    <a class="button button--white" href="#">Подробнее</a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-3 mt-md-4 mt-xl-5">
        <a class="button" href="#">Все спецпредложения</a>
    </div>
</section>