@import "mixins";
@import "fonts";
@import "common/fonts";
@import "common/colors";
@import "common/one-classes";
@import "common/selections";
@import "common/states";
@import "common/inputs";
@import "common/buttons";
@import "common/checkbox";
@import "common/section";
@import "common/links";
@import "common/swiper-custom";
@import "common/fancybox";
@import "common/policy";
@import "common/slider";
@import "common/quantity";
@import "common/jquery-ui";

html, body {
  position: relative;
  font-family: $font-mMedium, Roboto, sans-serif;
  font-size: 25px;
  line-height: 1.4;
  color: $dark;
  background-color: $white;
  padding: 0;
  margin: 0;
  max-width: 100%;

  @include r(1572) {
    font-size: 22px;
  }

  @include r(960) {
    font-size: 18px;
  }

  @include r(600) {
    font-size: 14px;
  }

  @include r(375) {
    font-size: 13px;
  }

  &.fixed {
    overflow: hidden;
    padding-right: 15px;
  }
}

a {
  color: $dark;

  &:hover {
    color: $dark;
  }
}

.container {
  max-width: 1655px;
}

.layout {
  overflow: hidden;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.svg-sprite {
  position: absolute;
  bottom: 0;
}

.crumbs {
  display: flex;
  flex-wrap: wrap;

  &__item {

    &:not(:last-child) {
      &:hover {
        color: $white;
        @include hoverOpacity;
      }

      &::after {
        content: '/';
        display: inline-block;
        margin-right: 8px;
        margin-left: 8px;

        @include r(768) {
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }
  }
}

.image {
  width: 100%;
  @include cv;

  &--medium {
    height: calc(100% + 240px);
    transform: translateY(calc(240px / -2));
  }

  &--small {
    position: relative;
    height: calc(100% + 120px);
    transform: translateY(calc(120px / -2));

    &__wrapper {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 3000px;
        height: calc(100% + 240px);
        background-color: $white;
        right: 40%;
        top: -120px;

        @include r(1200) {
          display: none;
        }
      }
    }
  }

  &--wide {
    height: calc(100% + 140px + 240px);
    transform: translateY(calc(calc(140px + 240px) / -2));
  }

  @include r(1200) {
    transform: none;
    height: 310px;
    max-width: 570px;
  }
}

.review {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 30px;

  @include r(1200) {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  @include r(768) {
    grid-template-columns: 30px 1fr;
    grid-gap: 10px;
  }

  &-picture {
    font-size: 1.4rem;
    color: $white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: url('../img/review-bg.jpg');
    background-color: #8099A6;
    @include cv;
    @include flex-center;

    @include r(1200) {
      width: 50px;
      height: 50px;
      font-size: 0.8rem;
    }

    @include r(768) {
      width: 25px;
      height: 25px;
    }
  }
  &-info {
    @include rmin(1200) {
      padding-right: 20px;
    }

    &__rating {
      width: 30px;
      height: 30px;

      @include r(768) {
        width: 15px;
        height: 15px;
      }

      &:not(:last-child) {
        margin-right: 5px;

        @include r(768) {
          margin-right: 3px;
        }
      }
    }
  }
}

.news {
  &-picture {
    width: 100%;
    min-height: 560px;
    @include cv;

    @include r(1572) {
      min-height: 370px;
    }

    @include r(1200) {
      min-height: 240px;
    }

    @include r(768) {
      min-height: 180px;
      max-width: 370px;
    }
  }
}

.gallery {
  &__item {
    @include cv;
    @include ease;
    @include hoverOpacity;
    cursor: pointer;
  }
}

.page {
  &__nav {
    &-link {
      font-size: $font-tSans;
      margin-bottom: 15px;
      padding-bottom: 4px;
      @include hoverOpacity;

      &:not(:last-child) {
        margin-right: 50px;

        @include r(768) {
          margin-right: 15px;
        }
      }

      &--here {
        border-bottom: 1px solid $dark;
      }
    }
  }

}

.aspect-ratio-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  &__in {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.social-link {
  @include hoverOpacity;

  &:not(:last-child) {
    margin-right: 15px;

    @include r(1200) {
      margin-right: 8px;
    }

    @include r(1200) {
      margin-right: 5px;
    }
  }

  svg {
    max-height: 25px;

    @include r(1200) {
      max-height: 15px;
      max-width: 17px;
    }
  }
}